input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#topbar {
    height: 75px;
    width: 100%;
    background-color: #212236;
    color: white;
    display: flex;
    padding: 0 15px;
    justify-content: space-evenly;
    flex-direction: row;
}

#topbar-logo {
    width: 75px;
    height: 50px;
    display: flex;
    padding-right: 15px;
    align-self: center;
}

#tab-row {
    background-color: #08080f;
    border-bottom-left-radius: 10px;
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
}

#nav-row {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 50%;
}

.nav-btn {
    background: yellow;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    height: 90%;
    aspect-ratio: 1/1;
}

.nav-btn img {
    height: 60%;
    width: 60%;
}

#url-bar-display {
    flex: 100;
    background-color: #08080f;
    border-radius: 40px;
    display: flex;
    align-items: center;
    height: 90%;
}

#url-input {
    align-items: center;
    margin: 10px;
    height: 100%;
    width: 90%;
    background-color: transparent;
    border: none;
    color: white;
    text-emphasis-color: transparent;
}

#bottom {
    display: flex;
    flex-direction: row;
}

.topbar-right {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

#bottom {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 75px;
    background-color: #00ff00;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.main-content-area {
    flex: 100;
    background-color: #0000ff;
}

