* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#topbar {
    height: 75px;
    width: 100%;
    background-color: #ff0000;
    color: white;
    display: flex;
    padding: 0 15px;
}

#topbar-logo {
    height: 50px;
    width: 50px;
    display: flex;
}

#tab-row {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
}

#nav-row {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 50%;
}

.nav-btn {
    background: yellow;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    height: 90%;
    aspect-ratio: 1/1;
}

.nav-btn img {
    height: 80%;
    width: 80%;
}

#url-bar-display {
    flex: 100;
    background-color: blue;
    border-radius: 40px;
    display: flex;
    align-items: center;
    height: 90%;
}

#url-bar {
    background-color: transparent;
    border: none;
}
#url-input {
    background-color: transparent;
    border: none;
    width: 100%;
    color: white;
    text-emphasis-color: transparent;
}

#bottom {
    display: flex;
    flex-direction: row;
}

.topbar-right {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

#bottom {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 7vw;
    background-color: #00ff00;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.main-content-area {
    flex: 100;
    background-color: #0000ff;
}