* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#topbar {
    height: 150px;
    width: 100vw;
    background-color: #ff0000;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

#topbar-logo {
    height: 50px;
    width: 50px;
}

#tab-row {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

#nav-row {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-btn {
    background: yellow;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    height: 90%;
    aspect-ratio: 1/1;
}